.p{
direction: rtl;
margin-bottom: 70px;
}
.starbucks{
  color:green;
}
.h3{
  direction: rtl;
background-color: darkslategray;

border-radius: 10px;
}
.costa{
  color:red
}
.caribou{
  color:blue;
}
.starbucks2{
  background-color:green ;
}
.costa2{
  background-color:red ;
}
.caribou2{
  background-color: blue;
}
.ul{
  list-style-type: none;
}
.display{
  display:inline;
  
}
.table , th , td{
border:4px solid black;
  border-collapse: collapse;
  border-radius: 100px;
  margin-left: 450px;

  
  
}
.center{
  padding-left: 21px;
}



/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */

/* img { */
/* display: block; */
/* inline-block */
/* inline */
/* } */

/* .font {
  font-weight: 800;
  font-size: 18px;
} */

/* .padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none; 
 }  */

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

body {
  background-color: coral;
} 
.h3eng{
  background-color: darkslategray;

border-radius: 10px;
}